@import '../../utils';

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: get-color(dark, 0.4);

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    padding: 0.25rem 0.75rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.2s ease;

    &.active {
      border-color: get-color(light, 0.5);
      background-color: get-color(light, 0.1);
    }

    &:focus {
      border-color: get-color(accent);
      outline: none;
    }
  }
}
