@import '../../utils';

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: $site-header-height;
  width: 100%;
  @include window;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    padding: 0.25rem 0.75rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.2s ease;

    &:hover,
    &:focus {
      @include accent;
    }

    &.active {
      border-color: get-color(dark, 0.5);
    }
  }
}
