@import '../../utils';

.site-header {
  position: relative;
  z-index: 1;
  display: flex;
  height: $site-header-height;
  width: 100%;
  // Enables Hardware acceleration so others elements with it
  // couldn't overlap header
  opacity: 1;
  transition: 0.2s ease;

  @include for-light-theme {
    @include window;
  }

  @include for-dark-theme {
    @include window(0.1);
  }
}

.site-header__placeholder,
.site-header__menu {
  min-width: 200px;
}

.site-header__navigation {
  flex: 1;
}

.site-header__navigation-list {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header__navigation-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.75rem 0.25rem;
  border-bottom: 2px solid transparent;
  font-size: 1.25rem;
  line-height: 1;
  text-decoration: none;
  transition: 0.2s ease;

  @include for-light-theme {
    color: get-color(dark);
  }

  @include for-dark-theme {
    color: get-color(light);
  }

  &:hover,
  &:focus {
    @include accent;
  }

  &:hover,
  &:focus,
  &.active {
    @include for-light-theme {
      border-color: get-color(accent-light);
    }

    @include for-dark-theme {
      border-color: get-color(accent-dark);
    }
  }
}

.site-header__menu {
  position: relative;
  height: 100%;
  transition: 0.2s ease;
}

.site-header__menu-toggle {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  border: 0;
  background-color: transparent;
  transition: 0.2s ease;

  &:focus,
  &:hover {
    @include accent;
  }
}

.site-header__menu-dropdown {
  visibility: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: $site-header-height;
  background-color: transparent;
  transition: background-color 0.2s ease, color 0.2s ease, height 0.2s ease-out;
  overflow: hidden;
}

.site-header__menu-dropdown-inner {
  padding: 0.5rem;
  opacity: 0;
  transition: 0.2s ease;
}

.site-header__menu--expand {
  @extend .site-header__menu;
  min-width: 25%;

  .site-header__menu-toggle {
    background-color: get-color(dark, 1);
    color: get-color(light);

    &:focus,
    &:hover {
      @include accent;
    }
  }

  .site-header__menu-dropdown {
    visibility: visible;
    height: 100vh;
    width: 100%;
    box-shadow: -2px 0 2px 0 get-color(dark, 0.5);
    background-color: get-color(dark, 0.8);
    color: get-color(light);
  }

  .site-header__menu-dropdown-inner {
    opacity: 1;
  }
}

.language-select {
  width: 100%;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  background-color: get-color(dark);
  border: 1px solid get-color(dark);
  outline: none;
  outline: none;
  line-height: 2;
  text-transform: capitalize;
  color: get-color(light);
  cursor: pointer;

  appearance: none;

  &:focus,
  &:hover {
    border-color: get-color(accent-light);
    outline: none;
  }

  .language-option {
    border: 1px solid get-color(dark);
    line-height: 2;
    text-transform: capitalize;
    cursor: pointer;

    &:focus,
    &:hover {
      border-color: get-color(accent-light);
      outline: none;
    }
  }
}

.theme-toggle__toggle-container {
  width: 100%;
  margin-top: 0.5rem;
}

@include for-big-phone {
  .site-header__placeholder,
  .site-header__menu {
    min-width: auto;
    flex: 1;
  }

  .site-header__menu--expand {
    flex: 1;
  }
}

@include for-phone {
  .site-header__menu--expand {
    position: absolute;
    right: 0;
    width: 100vw;
  }
}

@include for-small-phone {
  .site-header__navigation {
    flex: 0;
  }
}
