@import '../../utils/';

.app__photo-signature {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem;
  text-shadow: 0 0 2px get-color(dark);
  font-size: 0.75rem;
  color: get-color(light);

  @include for-dark-theme {
    color: get-color(light, 0.8);
  }
}
