@import '../../utils';

.textarea-container {
  $padding: 0.25em;
  position: relative;

  .textarea {
    display: block;
    resize: none;
    width: 100%;
    padding: $padding;
    border: 2px solid get-color(dark, 0.5);
    background-color: get-color(light, 0.8);
    border-radius: 0.25rem;
    transition: border 0.15s ease;

    @include scrollbar(get-color(dark, 0.8));

    &:focus,
    &:hover {
      outline: none;
      border-color: get-color(accent);

      &.invalid {
        border-color: get-color(danger);
      }
    }

    &:disabled {
      border-color: transparent;
      background-color: transparent;
    }

    @include for-big-phone {
      padding: $padding / 2;
    }
  }

  .label {
    display: block;
  }

  .label-value {
    position: absolute;
    display: block;
    padding: $padding;
    color: get-color(dark, 0.5);

    &.hide {
      display: none;
    }
  }
}
