@import '../../utils';

$padding: 0.25em;

.textarea__container {
  position: relative;
}

.textarea__textarea {
  display: block;
  resize: none;
  width: 100%;
  padding: $padding;
  border: 2px solid get-color(dark, 0.5);
  border-radius: 0.25rem;
  background-color: get-color(light, 1, -5%);
  color: get-color(dark);
  transition: border 0.15s ease-out, color 0.2s ease;

  @include scrollbar(get-color(dark, 0.8));

  &:focus,
  &:hover {
    @include for-light-theme {
      border-color: get-color(accent-light);
    }

    @include for-dark-theme {
      border-color: get-color(accent-dark);
    }
  }

  &:disabled {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
  }
}

.textarea__textarea--invalid {
  @extend .textarea__textarea;

  &:focus,
  &:hover {
    @include for-light-theme {
      border-color: get-color(danger);
    }

    @include for-dark-theme {
      border-color: get-color(danger, 1, -5%);
    }
  }
}

.textarea__label {
  display: block;
}

.textarea__label-value {
  position: absolute;
  display: block;
  padding: $padding;
  color: get-color(dark, 0.5);
}

.textarea__label-value--hide {
  @extend .textarea__label-value;
  display: none;
}

@include for-big-phone {
  .textarea__textarea {
    &:focus,
    &:hover {
      padding: $padding / 2;
    }
  }
}
