@import '../../utils/';
@import '../../app/views/BoardPage/BoardPage';

$list-x-margin: 0.25rem;

.lists__list {
  display: flex;
  flex-direction: column;
  @include adaptive-column-layout($list-x-margin * 2, $board-page-x-margin * 2);
  max-height: 100%;
  margin: 0 $list-x-margin;
  border-radius: 8px;
  transition: background-color 0.2s ease;

  @include for-light-theme {
    @include window;
  }

  @include for-dark-theme {
    @include window(0.1);
  }

  &:focus {
    @include accent;

    .cards__new-card,
    .cards__card {
      background-color: get-color(light);

      .textarea__textarea,
      .textarea__textarea--invalid {
        color: get-color(dark);
      }
    }
  }

  .field-editor .lists__list-textarea {
    text-align: center;
  }
}

.lists__list-header {
  line-height: 1;
  padding: 0.25rem 0.25rem 0;
}
