@import '../../../utils';

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
  @include window(0);
}

.home-page__heading {
  display: block;
  margin: 0 0 5rem;
  padding: 0.25rem 2rem;
  border-radius: 8px;
  background-color: get-color(light, 0.1);
  font: 5rem 'Oswald', sans-serif;
  line-height: 1;
  text-align: center;
  color: get-color(light);
  text-shadow: 0 0 3px get-color(dark);
}

.home_page__link {
  z-index: 1;
  font-size: 1.75rem;
  line-height: 1;
  text-decoration: none;

  &:hover,
  &:focus {
    border: none !important;
  }
}
