@import '../../../utils/';

.site-menu {
  position: relative;
  height: 100%;
  transition: 0.2s ease;
}

.site-menu__toggle {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  border: 0;
  background-color: transparent;
  transition: 0.2s ease;

  &:focus,
  &:hover {
    @include accent;
  }
}

.site-menu__dropdown {
  visibility: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: $site-header-height;
  background-color: transparent;
  color: get-color(light);
  transition: all 0.2s ease, height 0.2s ease-out;
  opacity: 0;

  overflow: hidden;
}

.site-menu__dropdown-inner {
  padding: 1rem 0.5rem;
}

.site-menu--expand {
  @extend .site-menu;
  min-width: 25%;

  .site-menu__toggle {
    background-color: get-color(dark, 1);
    color: get-color(light);

    &:focus,
    &:hover {
      @include accent;
    }
  }

  .site-menu__dropdown {
    visibility: visible;
    height: 100vh;
    width: 100%;
    box-shadow: -2px 0 2px 0 get-color(dark, 0.5);
    background-color: get-color(dark, 0.8);
    color: get-color(light);
    opacity: 1;
  }
}

.site-menu__options-fieldset {
  padding: 0.5rem 0.75rem 1rem;
  border-radius: 0.25rem;
  border: 2px solid get-color(light, 0.5);
  font-size: 0.75rem;
  transition: 0.2s ease;

  &:focus,
  &:hover {
    @include for-light-theme {
      border-color: get-color(accent-light);

      .site-menu__options-legend {
        color: get-color(accent-light);
      }
    }

    @include for-dark-theme {
      border-color: get-color(accent-dark);

      .site-menu__options-legend {
        color: get-color(accent-dark);
      }
    }
  }
}

.site-menu__options-legend {
  margin: 0 auto 0.5rem;
  padding: 0 0.25rem;
  font-size: 1rem;
  transition: 0.2s ease;
}

@include for-big-phone {
  .site-menu--expand {
    flex: 1;
  }
}

@include for-phone {
  .site-menu--expand {
    position: absolute;
    right: 0;
    width: 100vw;
  }
}
