@import '../utils';

$boards-navigation-margin: 0.5rem;
$board-link-x-margin: 0.25rem;

.boards-navigation {
  display: flex;
  margin: $boards-navigation-margin;
  padding-bottom: 0.5rem;

  overflow-x: auto;
  overflow-y: hidden;
  @include scrollbar(get-color(light, 0.8), true);

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.boards-navigation__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  @include adaptive-column-layout(
    $board-link-x-margin * 2,
    $boards-navigation-margin * 2
  );
  margin: 0 $board-link-x-margin;
  padding: 0.5rem;
  @include window;
  text-decoration: none;
  transition: 0.2s ease;
  border-radius: 8px;

  &:focus,
  &:hover {
    @include accent;
    border: none;

    .button:disabled {
      color: get-color(light, 1, -15%);
    }

    .button:not(:disabled) {
      background-color: get-color(accent, 1, 5%);
      color: get-color(light);

      &:hover {
        background-color: get-color(light);
        color: get-color(accent);
      }
    }
  }
}

.boards-navigation__new-board {
  @extend .boards-navigation__link;
  flex: none;
  border: none;
}

.boards-navigation__link-textarea {
  text-align: center;
}
