@import '../utils';

$number-of-columns: 6;
$boards-navigation-margin: 0.5rem;
$board-link-x-padding: 0.5rem;

.boards-navigation {
  display: flex;
  align-items: flex-start;
  margin: $boards-navigation-margin;
  padding-bottom: 0.5rem;

  overflow-x: auto;
  overflow-y: hidden;
  @include scrollbar(get-color(light, 0.8), true);

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.board-link {
  display: flex;
  align-items: center;
  min-height: 70px;
  width: calc(
    (
        100vw - #{$boards-navigation-margin * 2 + $number-of-columns *
          $board-link-x-padding}
      ) / #{$number-of-columns}
  );
  margin: 0 $board-link-x-padding / 2;
  padding: 0.5rem;
  @include window;
  text-decoration: none;
  transition: 0.2s ease;
  border-radius: 8px;

  @include focus;

  .field-editor {
    width: 100%;
  }

  .textarea {
    text-align: center;
    cursor: initial;

    &:disabled {
      cursor: pointer;
    }
  }
}

.new-board {
  @extend .board-link;
  width: auto;
  margin-left: 0.5rem;
  border: none;
}
