@import '../utils';

$boards-navigation-margin: 0.5rem;
$board-link-x-margin: 0.25rem;

.boards-navigation {
  display: flex;
  margin: $boards-navigation-margin;
  padding-bottom: 0.5rem;

  overflow-x: auto;
  overflow-y: hidden;

  @include for-light-theme {
    @include scrollbar(get-color(light, 0.8), true);
  }

  @include for-dark-theme {
    @include scrollbar(get-color(light, 0.4), true);
  }
}

.boards-navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.boards-navigation__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  @include adaptive-column-layout(
    $board-link-x-margin * 2,
    $boards-navigation-margin * 2
  );
  margin: 0 $board-link-x-margin;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease;
  border-radius: 8px;

  @include for-light-theme {
    color: get-color(dark);
    @include window;
  }

  @include for-dark-theme {
    color: get-color(light);
    @include window(0.1);
  }

  &:focus,
  &:hover {
    border: none !important;

    @include for-light-theme {
      background-color: get-color(accent-light);

      .field-editor .textarea__textarea {
        color: get-color(light);
      }
    }

    @include for-dark-theme {
      background-color: get-color(accent-dark);
    }

    .field-editor .boards-navigation__link-textarea {
      cursor: pointer;
    }

    .button--plain {
      color: get-color(light);
    }
  }

  .field-editor .boards-navigation__link-textarea {
    text-align: center;
  }

  .button--plain {
    &:focus,
    &:hover {
      @include accent-reverse;
    }
  }
}

.boards-navigation__new-board {
  @extend .boards-navigation__link;
  flex: none;
  border: none;
}
