@import '../../utils/';

$board-page-x-margin: 0.5rem;

.board-page {
  display: flex;
  align-items: flex-start;
  flex: 1;
  margin: 0 $board-page-x-margin 0.25rem;
  padding-bottom: 0.5rem;

  overflow-x: auto;
  overflow-y: hidden;
  @include scrollbar(get-color(light, 0.8), true);
}
