@import '../utils';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 150%;
  color: get-color(dark);

  @include for-tablet {
    font-size: 125%;
  }

  @include for-big-phone {
    font-size: 112.5%;
  }
}

@include light-theme {
  a:focus,
  a:hover {
    border-bottom: 2px solid get-color(accent-light);
  }
}

@include dark-theme {
  a:focus,
  a:hover {
    border-bottom: 2px solid get-color(accent-dark);
  }
}

:focus {
  outline: none;
}

a,
button,
textarea,
:visited {
  color: inherit;
}

button {
  white-space: nowrap;
  cursor: pointer;
}

html,
body,
#app,
#theme {
  overflow: hidden;
  height: 100vh;
}

#theme {
  display: flex;
  flex-direction: column;
  transition: 0.2s ease;
}

@include light-theme {
  background: #32639c no-repeat top url('../assets/bg/light.jpg');
  background-size: cover;
}

@include dark-theme {
  background: #1c2330 no-repeat bottom url('../assets/bg/dark.jpg');
  background-size: cover;
  color: get-color(light);
}

#draggable {
  position: absolute;
  top: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
}
