@import '../utils';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 150%;
  color: get-color(dark);
}

a,
button,
textarea,
:visited {
  color: inherit;
}

button {
  white-space: nowrap;
  color: inherit;
  cursor: pointer;
}

html,
body,
#app {
  overflow: hidden;
  height: 100%;
}

:focus {
  outline: none;
}

#app {
  display: flex;
  flex-direction: column;
  background: #32639c no-repeat url('../assets/bg.jpg');
  background-size: cover;
}

#draggable {
  position: absolute;
  top: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
}
