.field-editor {
  $min-height: 1.5em;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .textarea-container {
    min-height: $min-height;
    width: 100%;
  }

  &:hover .button {
    opacity: 1;
  }

  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.1s ease;

    .button {
      height: $min-height;
      width: $min-height;
      opacity: 0;

      &:focus {
        opacity: 1;
      }
    }
  }
}
