$site-header-height: 50px;
$boards-navigation-height: 150px;
$board-page-height: calc(
  100vh - #{$site-header-height + $boards-navigation-height}
);

$colors: (
  accent: #0083b7,
  light: #f0f0f0,
  dark: #000000,
  danger: #de1f23,
);

@function get-color($key, $opacity: 1, $lighten: 0) {
  $color: map-get($colors, $key);
  $color: rgba($color, $opacity);
  $color: call(
    if($lighten >= 0, get-function('lighten'), get-function('darken')),
    $color,
    abs($lighten)
  );
  @return $color;
}

@mixin window($opacity: 0.6, $shadow-color: get-color(dark)) {
  background-color: get-color(light, $opacity);
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 2px -2px $shadow-color, -1px 0 2px -2px $shadow-color;
}

@mixin focus {
  &:focus {
    background-color: get-color(accent, 1, 5%);
    color: get-color(light);
  }
}

@mixin scrollbar($color, $disappearing: false) {
  @if $disappearing {
    & {
      background-color: transparent;
      background-clip: text;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    @if $disappearing {
      background-color: inherit;
    } @else {
      visibility: hidden;
      background-color: $color;
    }

    border-radius: 4px;
  }

  &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}
