@import '../utils';
@import '../app/BoardPage/styles';

$list-x-margin: 0.25rem;

.list-of-lists {
  display: flex;
  align-items: flex-start;
  height: 100%;

  & > ul {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & > li {
    height: 100%;
  }

  @media only screen and (max-height: 600px) {
    height: auto;
  }
}

.list {
  display: flex;
  flex-direction: column;
  @include adaptive-column-layout($list-x-margin * 2, $board-page-x-margin * 2);
  max-height: 100%;
  margin: 0 $list-x-margin;
  @include window;
  border-radius: 8px;
  transition: background-color 0.2s ease;

  &:focus {
    @include accent;

    .new-card,
    .card {
      background-color: get-color(light);
      color: get-color(dark);
    }
  }

  header {
    line-height: 1;
    padding: 0.25rem 0.25rem 0;

    .field-editor:not(.edit) .lists__list-textarea {
      text-align: center;
    }
  }
}

.new-list {
  padding: 0.5rem;
  border: 0;

  .field-editor:not(.edit) .lists__list-textarea {
    text-align: center;
  }
}
