@import '../utils';
@import '../app/BoardPage/styles';

$list-x-margin: 0.25rem;

.list-of-lists {
  display: flex;
  align-items: flex-start;
  height: 100%;

  & > ul {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & > li {
    height: 100%;
  }
}

.list {
  $number-of-columns: 6;

  width: calc(
    (
        100vw - #{$board-page-x-margin * 2 + $list-x-margin * 2 *
          $number-of-columns}
      ) / #{$number-of-columns}
  );

  margin: 0 $list-x-margin;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  @include window;
  border-radius: 8px;
  transition: background-color 0.2s ease;

  &:focus {
    @include accent;

    .new-card,
    .card {
      background-color: get-color(light);
      color: get-color(dark);
    }
  }

  header {
    line-height: 1;
    padding: 0.25rem 0.25rem 0;

    .field-editor:not(.edit) .textarea {
      text-align: center;
    }
  }
}

.new-list {
  padding: 0.5rem;
  border: 0;

  .field-editor:not(.edit) .textarea {
    text-align: center;
  }
}
