@import '../utils';

.list-of-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0.5rem 1px;

  overflow-y: auto;
  overflow-x: hidden;
  @include scrollbar(get-color(dark, 0.8), true);
  list-style: none;
}

$card-y-margin: 0.25rem;

.card {
  position: relative;
  display: block;
  margin: $card-y-margin 0;
  padding: 0.25rem;
  border: 0;
  background-color: get-color(light, 0.8);
  border-radius: 0.25rem;
  box-shadow: -1px 2px 2px 0 rgba(get-color(dark), 0.5);
  transition: background-color 0.2s ease;

  &:focus {
    @include accent;
  }

  @include for-big-phone {
    padding: 0;
  }
}

.new-card {
  margin: $card-y-margin 0.5rem 0.5rem;

  .cards__card-textarea {
    text-align: center;
  }
}
